{% extends 'base.html' %}
    {% block content %}
    <style>
    @font-face {
                    font-family: 'GmarketSansBold';
                    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
    .store {
      border: 1px solid silver;
      border-radius: 10px;
      padding: 20px 10px;
    }
    </style>
    <p style="font-family: 'GmarketSansBold'; margin-top: 40px;margin-bottom: 20px; font-size: 10pt;">
    <h3 style="text-align: left; flex:3; font-family: 'GmarketSansBold'; font-size: 30pt;">STORE</h3>
    <div class="store">
    <h1>{{ store.store_name }}</h1>
      <p>{{ store.address }}</p>
      <p>{{ store.rating }}</p>
      <p>{{ store.phone_num }}</p>
        {% if store.image %}
        <img src="{{store.image.url}" alt="" />
        {% endif %}
    <br>
    <a href="{% url 'home' %}" style=" flex:1; height: 50%; margin:auto; text-align:center;"><button>Home</button></a>
    <a href="{% url 'appmala:delete' store.id %}" style=" flex:1; height: 50%; margin:auto; text-align:center;"><button>Delete</button></a>
    <a href="{% url 'appmala:newreview' store.id %}" style=" flex:1; height: 50%; margin:auto; text-align:center;"><button>New Review</button></a>
    </div>
    <div class="container" style="margin-top: 40px;">
      {% for review in reviews %}
      <div>
        {{ review.image }}
        <h3>{{ review.title }}</h3>
		    <p>{{ review.rating }}</p>
        <p>{{ review.review_date}}</p>
        <a href="{% url 'appmala:review' review.id %}"><button>more</button></a>
        <hr>
      </div>
      {%endfor %}
    </div>
    </p>

    # 댓글
    <div>
        {% if question.comment_set.count > 0 %}
        {% for comment in question.comment_set.all %}
            <span>{{ comment.content }}</span>
            <span>
            글쓴이: {{ comment.author }}
        </span>
        {% endfor %}
        {% endif %}
    </div>
    <div>
        <div>
        {% for comment in comments %}
        <h5>{{ comment.user }}</h5>
        <span style="text-indent: 20px;">
        <h5>{{ comment.comment_content }}</h5>
        <h6>{{ comment.comment_date }}</h6></span><hr/>
        {% endfor %}
        </div>
        
        <form method="post" action="{% url 'appmala:create_comment' %}">
            {% csrf_token %}
            <div>
                <label for="content">한 줄 평가</label><br>
                <div id="maketext">
                    <input name="reveiw_id" value="{{review.id}}" hidden>
                    <textarea name="comment_content" width=100%>{{ form.content.value|default_if_none:'' }}</textarea>
                    <button type="submit" style="width: 100px; text-align: center;">저장하기</button>
                </div>
            </div>
            
        </form>
    </div>



 {% endblock %}