{% extends 'base.html' %}
    {% block content %}
    <style>
    @font-face {
                    font-family: 'GmarketSansBold';
                    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
    </style>
    <p style="font-family: 'GmarketSansBold'; margin-top: 40px;margin-bottom: 20px; font-size: 10pt;">
    <h1>{{ review.title }}</h1>
      <p>유저: {{review.user}}</p>
      <p>{{ review.review_date }}</p>
      <p>{{ review.rating }}</p>
        {% if review.image %}
        <img src="{{review.image.url}}" alt="" />
        {% endif %}
      <p>{{ review.content }}</p>
    <a href="{% url 'appmala:detail' review.store_id %}"><button>Back</button></a>
    <a href="{% url 'appmala:deleteReview' review.id %}"><button>Delete</button></a>
    </p>
 {% endblock %}